@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.wrapper {
  width:700px;
  margin:0 auto;
}

body {
    font-weight: 400;
    color: #595959;
    font-family: "Inter";
}

header {
    text-align: center;
    width: 220px;
    float: left;
    padding-top: 4.0em;
    margin-right: 20px;
    margin-bottom: calc(50vh); 
}

section {
    padding-top: 6.0em;
    width: 700px;
    padding-bottom: 50px;       
}

small {
    font-size: 11px;
}

h1 {
    font-family: Inconsolata;
    color: #595959;
    font-size: 24px;
    margin: 6px 0px;
    line-height: 1.1;
    font-weight: 600;
}

a {
    color: #39c;
    text-decoration: none;
}

a:hover {
    color: #069;
}

.image {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
}

@media screen and (max-width: 960px) {

    div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:5px 0;
    margin:0 0 5px;
  }
}

#publication-list {
    list-style-type: decimal;
}
